{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="mb-3">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account?
                <a class="ml-1" href="#">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}