{% extends "website/base.html" %}
{% block content %}
    <h1>About To Do Project</h1>
    <p>This is a simple web app that allows users to create profiles and to do lists.
        This is my first time using Django for a personal project, so I hope to gain
        some additional experience with it through this.
    </p>

    <h2>Features</h2>
    <p>Users will be able to sign up and login, and create to do lists which will be
        displayed as their home page once logged in. They will be able to manage their
        lists by adding new tasks, checking off tasks as completed, and sorting tasks
        by urgency.
    </p>
{% endblock content %}