{% extends "website/base.html" %}
{% block content %}
    <h1>Keep Track of Your Life</h1>
    {% if not user.is_authenticated %}
        <p>Unorganized? Procrastinating? Help yourself out by making a to do list!
            It's the best way to help yourself focus on what needs to get done, and it's
            incredibly easy to get started! Simply sign up and you'll be ready to create
            and manage your to do list instantly!</p>

        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="mr-1" href="{% url 'register' %}">Create an account</a> or
                <a class="ml-1" href="{% url 'login' %}">Login</a>
            </small>
        </div>
    {% else %}
    <!-- TODO to do list stuff here -->
    <div class="border-top pt-3">
        <h2>To Do</h2>
        <a href="{% url 'todo-create' %}">Add</a>
        {% for todo in todos %}
            <div class="border-top pt-3">
                <h4>{{ todo.todo }}</h4>
                <p>To be completed on: {{ todo.date_to_finish|date:"F d, Y" }}</p>
            </div>
        {% endfor %}
    </div>

    {% endif %}
{% endblock content %}